

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
.search{
    padding: 9px;
    border-radius: 10px;
    font-size: 14px;
    /* border: none; */
    /* margin-right: 170px; */
}
nav{
  /* background: #0082e6; */
  background:rgb(255, 255, 255);
 
  box-shadow: 0px 0px 12px -4px;
  height: 80px;
  width: 100%;
}
nav img.logo{
  
  line-height: 80px;
  padding: 0 103px;
  /* font-weight: bold; */
  width: 31%;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a.active, nav ul li a:hover{
  background: green;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}




/* dopdownmenu */
ul li{
  position:relative;
}
ul li ul {
  position: absolute;
  left: 0;
  top:100% ;
  width:153px;
  background:gray;
  border-radius: 5px;

 
}
ul li ul li {
  display:block;
  line-height: 5px;
  
}
nav ul li ul li a{
  display: block;
  line-height: 50px;
  margin: 0px;
}

ul li ul{

  opacity: 0px;
  visibility: hidden;
}
ul li:hover ul {
  opacity: 1px;
  visibility: visible;

  
}
.dopdown-button{
  padding: 8px 40px;
    background: green;
    font-size: 21px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* top-menu */
.top-menu{
  background:green;
  color:white;
  display:flex;
}
.contract{
  display:flex;
  padding: 10px;
  width: 100%;

}
.mobile{
  margin-left: 50px;
}
.mobile i{
  margin-right: 5px;
}
.social-icon{
  width: 28%;
    margin: auto;
}
.social-icon i{
  font-size: 26px;
    margin-left: 5px;
    color: white;
}
.gmail i{
  margin-right: 5px;
}
/* slider css */
#slider{
  height: 500px;
  width: 100%;
  overflow: hidden;
   
}
#slider figure img{
  width: 100%;
  height:100%;
}
/* service style */
.service-titel{
  text-align: center;
  margin-top: 85px;
}
.service-titel h6{
  font-size: 23px;
    font-family: none;
    color: #00060873;
}
.service-titel h1{
  font-size: 33px;
    font-family: inherit;
}
.service-button{
  padding: 8px 40px;
  background: green;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:20px;
  margin-bottom: 33px;
}
.service-button i{
  margin-left:13px;
}
.service-box{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}
.service{
  padding: 38px;
  margin-left: 26px;
  background: white;
  height: 374px;
  border-radius: 10px;
  width: 87%;
  text-align: center;
  box-shadow: 2px 8px 22px 0 #8080807a;
  margin-bottom: 10px;
  margin-top: 20px;
}

.service h3{
  font-size: 27px;
}
.service p{
  font-size: 18px;
    color: #808080fa;
}
.service i{
  font-size: 52px;
    line-height: 70px;
    background: green;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* footer style */
.footer{
  background: green;
    height: 420px;
    padding: 20px;
    margin: auto;
   
}
.footer-content{
  display: flex;
}
.locations{
  width: 32%;
  color: white;
  padding-left: 30px;
}
.locations h4{
  font-size: 26px;
  margin-top: 42px;
}
.locations i{
  background: #00000078;
    padding: 11px;
    border-radius: 59%;
    margin-right: 10px;
}
.locations span{
  margin-left: 51px;
}
.footer-about{
  width: 30%;
  color: white;
  padding: 11px;


}
.footer-about h2{
  margin-top: 42px;
  font-size: 30px;
}
.footer-about p{
  margin-top: 26px;
    font-size: 20px;
}
.footer-icon{
  margin-top: 23px;
}
.footer-icon i{
  font-size: 30px;
  color:white;
  padding: 3px;

}

.form__group {
  position: relative;
    margin-top: 90px;
    width: 25%;
    padding: 11px;
    margin: auto;
}
.field  .footer-btn{
  background: #00ff00c2;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 14px;
  padding: 11px 31px;
  font-size: 20px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
.Copyright{
  color: white;
  text-align: center;
  margin-top: 25px;
}

/* reasponsiv media-Querry */
@media (max-width: 952px){
  nav img.logo{
   width: 287px;
   padding-left: 12px;
   margin-top: 10px;
   }
   .service-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 23px;
}
.footer {
  background: green;
  height: 560px;
  padding: 20px;
  margin: auto;
}
.locations {
  width: 39%;
  color: white;
  padding-left: 0px;
}
   .search{
     padding-left: 50px; 
     margin-right: 0px;
   }
   nav ul li a{
     font-size: 16px;
   }
 }
 @media (max-width: 858px){
   .checkbtn{
     display: block;
   }

   .service-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
  }

    .footer {
      background: green;
      height: 609px;
      padding: 0px;
      margin: auto;
    }
    .locations {
      width: 42%;
      color: white;
      padding-left: 11px;
    }



  
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: #2c3e50;
     top: 130px;
     left: -100%;
     text-align: center;
     transition: all .5s;
   }
   nav ul li{
     display: block;
     margin: 50px 0;
     line-height: 30px;
   }
   nav ul li a{
     font-size: 20px;
   }
   a:hover,a.active{
     background: none;
     color: #0082e6;
   }
   #check:checked ~ ul{
     left: 0;
   }
  }

  @media (max-width: 575px){
    .contract {
      display: block;
      padding: 3px;
      width: 53%;
  }
  .mobile {
    margin-left: 0px;
}
.social-icon {
  width: 36%;
  margin: auto;
}
#slider {
  height: 190px;
}
.service-titel h6 {
  font-size: 18px;
}
.service-titel h1 {
  font-size: 27px;
}
.service-box {
  display: block;
  padding: 0px;
}
.footer {
  height: 719px;
}
.footer-content{
  width: 100%;
display: grid;
grid-template-columns: repeat(2,1fr);
}
.locations {
  width: 100%;
  padding-left: 10px;
}
.footer-about{
  width: 100%;
  padding-left: 10px;
}
.locations h4 {
  font-size: 17px !important;
  margin-top: 45px;
}
.footer-about h2 {
  margin-top: 42px;
  font-size: 19px !important;
  margin-left: 9px;;
}
.form__group {
  position: relative;
  margin-top: 90px;
  width: 100%;
  padding: 8px;
  margin: 40px;
}
.footer-about p {
  margin-top: 26px;
  font-size: 17px !important;
}
ul {
  width: 100%;
  position: absolute;
}
ul li ul {
  position: absolute;
  left: 337px;
  top: 100%;
  width: 227px;
  background: #0af30a;
  height: 300px;
}
nav ul li {
  display: block;
  margin: 38px 0;
  line-height: 0;
}
nav ul li :hover ul li a{
  background: gray;

}
  }